<!-- <div *ngIf="item && item.length > 0">    -->
  
    <div class="card mx-auto text-center">
        <img [src]="item.urlImagen" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Nombre: {{item.nombre}}</h2>
          <p class="card-text">Descripción: {{item.descripcion}}</p>
          <p class="card-text">Referencia: {{item.referencia}}</p>
          <p class="card-text">Color: {{item.color}}</p>
          <p class="card-text">Cantidad: {{item.cantidad}}</p>      
          <p class="card-text">Talla: {{item.talla}}</p>   
          <p class="card-text">Valor: {{item.valor}}</p>   
          <p class="card-text">Es de los más buscados: {{item.esDeLosMasBuscados}}</p>   
          <p class="card-text">Sexo: {{item.paraSexo}}</p>         
        </div>
    </div>

<!-- </div> -->
