.background-image {
    background-image: url('../../../../assets/fondo-mujer-joven.png'); 
    background-position: right center; 
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 91vh;
}  
p{     
    font-weight: 500;
    text-align: center;  
    width: 300px;         
    text-align: center;    
    padding-left: 2rem;    
}
a {
    text-decoration: none;
    color: black; 
}
#global{
    display: flex;
    flex-direction: column;
    align-items: center;        
}
#global > div {    
    width: 300px;       
}
#form-container {   
    padding-top: 4rem;
    margin-bottom: 30px
}
#the-form{
    width: 300px;
    padding: 40px;        
    background: #191919;
    text-align: center;
    border-radius: 24px;
}
#the-form h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
#the-form input[type="text"],
#the-form input[type="password"] {
    border: 0;
    background: none;
    display: block;    
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0, 25s;
}
#the-form input[type="text"]:focus,
#the-form input[type="password"]:focus {
    width: 230px;    
}
#the-form input[type="submit"],
input[type="button"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0, 25s;
    cursor: pointer;
}
#the-form input[type="submit"]:hover,
#the-form input[type="button"]:hover {
    background: #2ecc71;
}
#registrese{    
    height: 60px;    
    background: #363434;
    text-align: center;
    border-radius: 10px;        
    margin-left: 80px;
}
#registrese p{    
    padding-top: 8px;    
}
#registrese a{
    color: white;
    padding-right: 60px;    
}
#registrese a:hover {
    color: #3498db;
}
