<div id="global" class="background-image">

  <div id="form-container">
    <form [formGroup]="myForm" id="the-form" (ngSubmit)="onSubmit()">
      <div><h1>Login</h1></div>

      <div>          
          <input
            type="text"
            formControlName="CorreoElectronico"            
            placeholder="Correo"   
            [ngClass]="{ 'is-invalid': submitted && form['CorreoElectronico'].errors }"
          />
          <div *ngIf="submitted && form['CorreoElectronico'].errors" class="invalid-feedback">
            <div *ngIf="form['CorreoElectronico']?.errors?.['required']">El Correo Electrónico son requerido</div>
            <div *ngIf="form['CorreoElectronico']?.errors?.['minlength']">El Correo Electrónico debe ser mínimo de 9 caracteres</div>
            <div *ngIf="form['CorreoElectronico']?.errors?.['maxlength']">El Correo Electrónico debe ser de máximo de 30 caracteres</div>
          </div>
      </div>
  
      <div>          
          <input
            type="text"
            formControlName="Contrasena"            
            placeholder="Contraseña"   
            [ngClass]="{ 'is-invalid': submitted && form['Contrasena'].errors }"
          />
          <div *ngIf="submitted && form['Contrasena'].errors" class="invalid-feedback">
            <div *ngIf="form['Contrasena']?.errors?.['required']">La Contraseña es requerido</div>
            <div *ngIf="form['Contrasena']?.errors?.['minlength']">La Contraseña debe ser mínimo de 5 caracteres</div>   
          </div>
      </div>
  
      <div>      
          <input type="submit" value="Login" class="btn btn-primary"/>   
          <input type="button" value="Reset" (click)="onReset()" class="btn btn-warning float-right"/>
      </div>      
    </form>
  </div>
  
  <div id="registrese">
    <p>
      <a routerLink="guardar-usuario" routerLinkActive="active">Regístrese</a>
    </p>
  </div>

</div>